@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #d6d0c6;

}

.aboutus {
  border-radius: 8px;
  border-color: #d6d0c6;
  border-block: initial;
  border-width: thick;
  padding: inherit;
  background-color: #d6d0c645;
}

.navbar h1 {
  margin-left: 8%;
  font-size: 250%;
  font-weight: bold;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.navbar a:hover {
  color: #69584e;
}

main {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  font-size: large;
}

thead tr:hover {
  cursor: auto;
  background-color: white !important;
}

tr:hover {
  background-color: rgba(215, 209, 204, 0.94);
  cursor: pointer;
}

.flag {
  border-radius: 2px;
  width: 128px;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #b3aa9b !important;
  border-color: #8a9099 !important;
}

.page-link {
  position: relative;
  display: block;
  color: #000000 !important;
  text-decoration: none;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
  color: #000b15 !important;
  text-decoration: none !important;
}

.btn-secondary {
  color: #fff;
  background-color: #b3aa9b !important;
  border-color: #6c757d;
}

.react-bootstrap-table .row-expansion-style {
  padding: 0 !important;
}

li {
  font-size: smaller;
}